Repository Zerohertz/fastapi-cookbook: changes, and which Codecov flags are due for each by the changed paths.
All: api/v1, core, exceptions, models, repositories, schemas, services, utils

:sparkles: feat: orjson (related: #39)
  app/api/v1/endpoints/admin/users.py
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/shields.py
  app/api/v1/endpoints/users.py
  app/exceptions/handlers.py
  pyproject.toml
  uv.lock
Due: api/v1, exceptions

:sparkles: update: uvicorn standard (related: #39)
  Makefile
  app/core/lifespan.py
  pyproject.toml
  uv.lock
Due: core

:sparkles: update: asyncio debug mode (related: #39)
  Makefile
Due: none

:hammer: add: pytest async config
  pyproject.toml
  uv.lock
Due: none

:ship: release: v0.1.2
  k8s/postgresql/fastapi.yaml
Due: none

:hammer: feat: from pytz to zoneinfo
  app/schemas/base.py
  app/schemas/responses.py
  app/services/auth.py
  pyproject.toml
  uv.lock
Due: schemas, services

:bento: init: alembic (related: #21)
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  docs/alembic.md
Due: none

:hammer: update: alembic setup (related: #21)
  alembic/env.py
  docs/alembic.md
Due: none

:art: style: alembic
  alembic/env.py
  docs/alembic.md
Due: none

:sparkles: feat: db migration based on alembic (resolves: #21)
  Makefile
  alembic/env.py
  alembic/versions/0bdf3abd5213_init_alembic.py
  app/core/configs.py
  docs/alembic.md
  envs/test.env
  k8s/postgresql/configmap.yaml
  k8s/postgresql/fastapi.yaml
Due: core

:hammer: fix: deploy code
  Makefile
Due: none

:bug: fix: pyproject black config
  Makefile
Due: none

:ship: release: v0.1.3
  envs/test.env
  k8s/postgresql/configmap.yaml
  k8s/postgresql/fastapi.yaml
  pyproject.toml
  uv.lock
Due: none

:sparkles: feat: cors middleware
  app/core/configs.py
  app/main.py
  k8s/postgresql/configmap.yaml
Due: core

:art: style: lint
  app/main.py
Due: none

:hammer: update: cors config
  k8s/postgresql/configmap.yaml
Due: none

:recycle: refactor: function names
  app/api/v1/endpoints/auth.py
  app/services/auth.py
Due: api/v1, services

:ship: release: v0.1.4
  envs/test.env
  k8s/postgresql/configmap.yaml
  k8s/postgresql/fastapi.yaml
  pyproject.toml
  uv.lock
Due: none

:hammer: update: oauth for svelte
  app/api/v1/endpoints/auth.py
  app/core/auth.py
  app/core/configs.py
  app/exceptions/handlers.py
  app/tests/api/v1/test_auth.py
  envs/test.env
  k8s/postgresql/configmap.yaml
Due: api/v1, core, exceptions

:ship: release: v0.1.5
  envs/test.env
  k8s/postgresql/configmap.yaml
  k8s/postgresql/fastapi.yaml
  pyproject.toml
  uv.lock
Due: none

:sparkles: feat: create jmy data
  alembic/env.py
  alembic/versions/7d6aa6eaf640_feat_jmy.py
  app/api/v1/endpoints/admin/jmy.py
  app/api/v1/routers.py
  app/core/container.py
  app/models/__init__.py
  app/models/jmy.py
  app/repositories/jmy.py
  app/schemas/jmy.py
  app/services/jmy.py
Due: api/v1, core, models, repositories, schemas, services

:art: style: mypy
  app/repositories/jmy.py
  app/services/jmy.py
Due: repositories, services

:ship: release: v0.1.6
  envs/test.env
  k8s/postgresql/configmap.yaml
  k8s/postgresql/fastapi.yaml
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  api/v1: any of: app/api/v1
  core: any of: app/core
  exceptions: any of: app/exceptions
  models: any of: app/models
  repositories: any of: app/repositories
  schemas: any of: app/schemas
  services: any of: app/services
  utils: any of: app/utils
