Repository Zerohertz/fastapi-cookbook: changes, and which Codecov flags are due for each by the changed paths.
All: api/v1, core, exceptions, models, repositories, schemas, services, utils

:sparkles: feat: cd pipeline (related: #2)
  .gitignore
  Dockerfile
  k8s/fastapi.yaml
Due: none

:tada: deploy: fastapi-boilerplate [f6cd2de791ccb09692248693e3de3f84712df8ff]
  k8s/fastapi.yaml
Due: none

:hammer: fix: mountpath
  k8s/fastapi.yaml
Due: none

:hammer: fix: cd trigger
  .github/workflows/cd.yaml
Due: none

:hammer: fix: ci trigger
  .github/workflows/ci.yaml
Due: none

:hammer: fix: volume of prod.env
  k8s/fastapi.yaml
Due: none

:hammer: fix: service name
  k8s/fastapi.yaml
Due: none

:bento: update: codecov target
  codecov.yaml
Due: none

:ship: test: cd pipeline
  app/api/v1/endpoints/users.py
Due: api/v1

:tada: deploy: fastapi-boilerplate [bdfae2a30822956601101c99b97cfb6c98ac008c]
  k8s/fastapi.yaml
Due: none

:bug: fix: loguru color (related: #9)
  .gitignore
  envs/test.env
  k8s/configmap.yaml
  k8s/fastapi.yaml
Due: none

:hammer: chore: .gitignore
  .gitignore
Due: none

:recycle: refactor: deprecated function (related: #11)
  app/main.py
Due: none

:recycle: refactor: exception handler
  app/exceptions/handlers.py
  app/main.py
Due: exceptions

:art: style: pylint
  app/main.py
Due: none

:recycle: refactor: lifespan
  app/core/lifespan.py
  app/main.py
Due: core

:tada: deploy: fastapi-boilerplate [53f779d066a3082fab5f1871557fe3591c53a939]
  k8s/fastapi.yaml
Due: none

:recycle: refactor: exception handler (decorator pattern)
  app/core/decorators.py
  app/exceptions/handlers.py
  app/main.py
Due: core, exceptions

:tada: deploy: fastapi-boilerplate [78050c1f83ac1790ffd78c1e9fbd8f91231ea5fe]
  k8s/fastapi.yaml
Due: none

:art: style: mypy
  app/exceptions/handlers.py
Due: exceptions

:hammer: chore: makefile
  Makefile
Due: none

:bug: fix: venv in ci pipeline
  .github/workflows/ci.yaml
Due: none

:hammer: chore: timezone (related: #13)
  Dockerfile
  app/core/lifespan.py
  envs/test.env
  k8s/configmap.yaml
  k8s/fastapi.yaml
Due: core

:sparkles: feat: shields.io
  app/api/v1/endpoints/shields.py
  app/api/v1/routers.py
  app/schemas/shields.py
  app/services/shields.py
Due: api/v1, schemas, services

:tada: deploy: fastapi-boilerplate [d145911b7509f37af295c80666852cd3e27241d2]
  k8s/fastapi.yaml
Due: none

:sparkles: feat: logger
  app/core/lifespan.py
  app/core/logger.py
Due: core

:sparkles: feat: ansi format & logging middleware
  app/core/lifespan.py
  app/core/logger.py
  app/core/logging.py
  app/core/middlewares.py
  app/main.py
  pyproject.toml
Due: core

:tada: deploy: fastapi-boilerplate [c964ffc71a3dfbe1ce76083a73c62d8e46e7d14c]
  k8s/fastapi.yaml
Due: none

:memo: docs: description
  Makefile
  README.md
  app/core/configs.py
  app/main.py
Due: core

:tada: deploy: fastapi-boilerplate [70082035c8c2013fe49f73941519576c303a3aef]
  k8s/fastapi.yaml
Due: none

:memo: chore: title
  envs/test.env
  k8s/configmap.yaml
Due: none

:recycle: refactor: utils
  app/core/lifespan.py
  app/core/middlewares.py
  app/utils/logging.py
Due: core, utils

:ship: test: shields
  app/tests/api/v1/test_shields.py
Due: none

:tada: deploy: fastapi-boilerplate [2c6a7b5254bc95b3f9761b213f550441a5d83ff4]
  k8s/fastapi.yaml
Due: none

:hammer: fix: ip logging (related: #14)
  .gitignore
  Makefile
  app/core/middlewares.py
Due: core

:tada: deploy: fastapi-boilerplate [c269b4666e88d4d8680ea02ba8b58edadeae5828]
  k8s/fastapi.yaml
Due: none

:memo: docs: README.md
  README.md
Due: none

:fire: remove: trace logs
  app/core/middlewares.py
Due: core

Path conditions:
  api/v1: any of: app/api/v1
  core: any of: app/core
  exceptions: any of: app/exceptions
  models: any of: app/models
  repositories: any of: app/repositories
  schemas: any of: app/schemas
  services: any of: app/services
  utils: any of: app/utils
