Repository Zerohertz/fastapi-cookbook: changes, and which Codecov flags are due for each by the changed paths.
All: api/v1, core, exceptions, models, repositories, schemas, services, utils

codecov.yaml:

coverage:
  status:
    project:
      default:
        # target: 80%
        target: 0%
    patch:
      default:
        # target: 80%
        target: 0%

comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: false
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        # target: 80%
        target: 0%
      - type: patch
        # target: 80%
        target: 0%
  individual_components:
    - component_id: api/v1
      name: api/v1
      paths:
        - app/api/v1
    - component_id: core
      name: core
      paths:
        - app/core
    - component_id: exceptions
      name: exceptions
      paths:
        - app/exceptions
    - component_id: models
      name: models
      paths:
        - app/models
    - component_id: repositories
      name: repositories
      paths:
        - app/repositories
    - component_id: schemas
      name: schemas
      paths:
        - app/schemas
    - component_id: services
      name: services
      paths:
        - app/services
    - component_id: utils
      name: utils
      paths:
        - app/utils
# ignore:
#   -

:recycle: refactor: logging middleware
  app/core/middlewares.py
  pyproject.toml
Due: core

:art: style: mypy ignore
  app/core/auth.py
  app/core/configs.py
  app/core/router.py
  app/services/auth.py
Due: core, services

:tada: deploy: fastapi-cookbook [8eccb5886327912686d489e4e7f06c1f2cd75445]
  k8s/postgresql/fastapi.yaml
Due: none

:fire: remove: legacy codes
  app/core/middlewares.py
Due: core

:hammer: add: static swagger
  Makefile
  app/main.py
  static/favicon.ico
  static/swagger-ui-bundle.js
  static/swagger-ui.css
Due: none

:art: style: swagger ui
  static/swagger-ui-bundle.js
Due: none

:fire: remove: client_id for github oauth in swagger ui (related: #33)
  static/swagger-ui-bundle.js
Due: none

:fire: remove: client_id and client_secret in swagger ui (related: #33)
  static/swagger-ui-bundle.js
Due: none

:hammer: add: logs for request body
  app/core/middlewares.py
Due: core

:recycle: refactor: api response (resolves: #24)
  app/core/router.py
Due: core

:sparkles: feat: oauth 2.0 (resolves: #32)
  app/api/v1/endpoints/admin/users.py
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/users.py
  app/core/auth.py
  app/core/configs.py
  app/exceptions/auth.py
  app/exceptions/router.py
  app/schemas/auth.py
  app/schemas/users.py
  app/services/auth.py
  app/services/users.py
  pyproject.toml
  uv.lock
Due: api/v1, core, exceptions, schemas, services

:hammer: fix: api response (related: #24)
  app/core/router.py
Due: core

:ship: test: admin auth
  app/schemas/auth.py
  app/tests/api/v1/admin/__init__.py
  app/tests/api/v1/admin/test_users.py
  app/tests/api/v1/test_auth.py
  app/tests/api/v1/test_users.py
Due: schemas

:art: style: pylint
  Makefile
  app/tests/api/v1/admin/test_users.py
  pyproject.toml
Due: none

:tada: deploy: fastapi-cookbook [2e3a522cbc0a1a1983068f464910122f076dd666]
  k8s/postgresql/fastapi.yaml
Due: none

:hammer: update: cd pipelines
  .github/workflows/cd.yaml
  Makefile
Due: none

:ship: release: v0.1.1
  k8s/postgresql/fastapi.yaml
Due: none

:bug: fix: db sesion in pytest asyncio (resolves: #19)
  app/core/database.py
  app/core/middlewares.py
  app/tests/conftest.py
  app/tests/services/test_users.py
  envs/test.env
  uv.lock
Due: core

:fire: remove: debugging codes
  app/tests/conftest.py
Due: none

:hammer: modify: transaction context logs
  app/core/database.py
  app/core/middlewares.py
Due: core

:sparkles: feat: logs color depends on http status code
  app/core/middlewares.py
Due: core

:art: style: mypy
  app/core/middlewares.py
  app/utils/logging.py
Due: core, utils

:art: style: pylint
  app/core/middlewares.py
Due: core

:recycle: refactor: core api router
  app/api/v1/endpoints/shields.py
Due: api/v1

:sparkles: feat: google oauth (related:#36)
  app/api/v1/endpoints/admin/users.py
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/users.py
  app/core/auth.py
  app/core/configs.py
  app/core/database.py
  app/exceptions/auth.py
  app/models/enums.py
  app/models/users.py
  app/schemas/auth.py
  app/schemas/users.py
  app/services/auth.py
  app/services/users.py
  k8s/postgresql/fastapi.yaml
Due: api/v1, core, exceptions, models, schemas, services

:recycle: refactor: github oauth
  app/schemas/auth.py
  app/services/auth.py
Due: schemas, services

:hammer: update: schema constraints (related: #36)
  app/schemas/users.py
  pyproject.toml
  uv.lock
Due: schemas

:bug: fix: dependencies
  app/api/v1/endpoints/users.py
Due: api/v1

:bug: fix: legacy code
  app/schemas/users.py
Due: schemas

:hammer: update: handler logs
  app/core/lifespan.py
  app/exceptions/handlers.py
  app/utils/logging.py
Due: core, exceptions, utils

:hammer: add: k8s subpath
  k8s/postgresql/fastapi.yaml
Due: none

:recycle: refactor: lazy loading (related: #38)
  app/api/v1/endpoints/admin/users.py
  app/api/v1/endpoints/auth.py
  app/core/auth.py
  app/core/container.py
  app/core/database.py
  app/exceptions/handlers.py
  app/models/auth.py
  app/models/base.py
  app/models/users.py
  app/repositories/auth.py
  app/repositories/base.py
  app/repositories/users.py
  app/schemas/auth.py
  app/schemas/users.py
  app/services/auth.py
  app/services/base.py
  app/services/security.py
  app/services/users.py
Due: api/v1, core, exceptions, models, repositories, schemas, services

:recycle: refactor: schema, repository, service
  app/core/auth.py
  app/core/database.py
  app/core/middlewares.py
  app/repositories/auth.py
  app/repositories/base.py
  app/repositories/users.py
  app/schemas/auth.py
  app/schemas/responses.py
  app/schemas/users.py
  app/services/auth.py
  app/services/base.py
  app/services/users.py
  app/utils/etc.py
  app/utils/logging.py
Due: core, repositories, schemas, services, utils

:sob: fix: sqlite db lock (related: #19)
  app/core/database.py
  pyproject.toml
  uv.lock
Due: core

:hammer: update: test codes
  app/api/v1/endpoints/admin/users.py
  app/api/v1/endpoints/users.py
  app/schemas/auth.py
  app/services/auth.py
  app/tests/api/v1/admin/test_users.py
  app/tests/api/v1/test_auth.py
  app/tests/api/v1/test_users.py
  app/tests/services/test_users.py
  envs/test.env
Due: api/v1, schemas, services

:recycle: refactor: change password
  app/api/v1/endpoints/admin/users.py
  app/api/v1/endpoints/users.py
  app/core/container.py
  app/repositories/auth.py
  app/schemas/users.py
  app/services/auth.py
  app/services/security.py
  app/services/users.py
  app/tests/api/v1/admin/test_users.py
  app/tests/api/v1/test_users.py
  app/tests/services/test_users.py
Due: api/v1, core, repositories, schemas, services

:art: style: lint
  app/services/auth.py
  app/tests/api/v1/admin/test_users.py
  app/tests/api/v1/test_auth.py
  app/tests/services/test_users.py
Due: services

:memo: chore: .gitattributes
  .gitattributes
Due: none

:sob: fix: github actions ci pipeline (pylint)
  .github/workflows/ci.yaml
  pyproject.toml
  uv.lock
Due: none

:hammer: refactor: router path
  app/api/v1/endpoints/admin/users.py
  app/api/v1/endpoints/users.py
  app/tests/api/v1/admin/test_users.py
  app/tests/api/v1/test_auth.py
  app/tests/api/v1/test_users.py
Due: api/v1
