Repository Zerohertz/fastapi-cookbook: changes, and which Codecov flags are due for each by the changed paths.
All: api/v1, core, exceptions, models, repositories, schemas, services, utils

codecov.yaml:

coverage:
  status:
    project:
      default:
        # target: 80%
        target: 0%
    patch:
      default:
        # target: 80%
        target: 0%

comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: false
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        # target: 80%
        target: 0%
      - type: patch
        # target: 80%
        target: 0%
  individual_components:
    - component_id: api/v1
      name: api/v1
      paths:
        - app/api/v1
    - component_id: core
      name: core
      paths:
        - app/core
    - component_id: exceptions
      name: exceptions
      paths:
        - app/exceptions
    - component_id: models
      name: models
      paths:
        - app/models
    - component_id: repositories
      name: repositories
      paths:
        - app/repositories
    - component_id: schemas
      name: schemas
      paths:
        - app/schemas
    - component_id: services
      name: services
      paths:
        - app/services
    - component_id: utils
      name: utils
      paths:
        - app/utils
# ignore:
#   -

:art: style: ruff
  app/core/database.py
Due: core

:bug: fix: event loop in pytest (related: #19)
  app/core/configs.py
  app/core/database.py
  app/core/lifespan.py
  envs/test.env
  k8s/postgresql/configmap.yaml
  pyproject.toml
  uv.lock
Due: core

:fire: remove: pytest decorator
  app/tests/api/v1/test_users.py
Due: none

:memo: docs: README.md
  README.md
Due: none

:ship: test: mysql database session
  app/repositories/base.py
Due: repositories

:fire: feat: async test for service layer
  Makefile
  app/core/lifespan.py
  app/tests/api/v1/test_shields.py
  app/tests/api/v1/test_users.py
  app/tests/conftest.py
  app/tests/services/__init__.py
  app/tests/services/test_users.py
  pyproject.toml
  uv.lock
Due: core

:hammer: modify: logger level depends on environment
  app/core/lifespan.py
Due: core

:recycle: refactor: core exception
  app/exceptions/database.py
  app/exceptions/handlers.py
  app/main.py
Due: exceptions

:sparkles: feat: entity already exist
  app/core/database.py
  app/exceptions/database.py
  app/repositories/base.py
Due: core, exceptions, repositories

:bug: fix: session refresh
  app/repositories/base.py
Due: repositories

:recycle: refactor: core exception
  app/exceptions/base.py
  app/exceptions/handlers.py
Due: exceptions

:fire: remove: pytest ordering
  pyproject.toml
  uv.lock
Due: none

:ship: test: crud routers
  app/tests/api/v1/test_users.py
Due: none

:ship: test: crud services
  app/tests/services/test_users.py
Due: none

:hammer: fix: timestamp in schemas
  app/core/configs.py
  app/schemas/base.py
  app/schemas/responses.py
  envs/test.env
  k8s/postgresql/configmap.yaml
  pyproject.toml
  uv.lock
Due: core, schemas

:art: style: lint
  app/core/configs.py
  app/core/database.py
  app/exceptions/handlers.py
  app/repositories/base.py
  app/tests/api/v1/test_users.py
  app/tests/services/test_users.py
  pyproject.toml
  uv.lock
Due: core, exceptions, repositories

:bug: hotfix: cd pipelines
  .github/workflows/cd.yaml
  k8s/postgresql/fastapi.yaml
Due: none

:hammer: update: engine dispose in lifecycle
  app/core/lifespan.py
Due: core

:recycle: refactor: variable names
  app/repositories/base.py
  app/services/base.py
Due: repositories, services

:bug: fix: sqlite db name (resolves: #25)
  envs/test.env
Due: none

:sparkles: feat: auth with password and github oauth (related: #22)
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/users.py
  app/api/v1/routers.py
  app/core/auth.py
  app/core/configs.py
  app/core/container.py
  app/core/router.py
  app/exceptions/auth.py
  app/exceptions/database.py
  app/exceptions/users.py
  app/main.py
  app/models/base.py
  app/models/users.py
  app/repositories/base.py
  app/repositories/users.py
  app/schemas/auth.py
  app/schemas/responses.py
  app/schemas/users.py
  app/services/auth.py
  app/services/users.py
  app/tests/api/v1/test_users.py
  app/tests/conftest.py
  app/tests/services/test_users.py
  app/utils/etc.py
  k8s/postgresql/fastapi.yaml
  pyproject.toml
  uv.lock
Due: api/v1, core, exceptions, models, repositories, schemas, services, utils

:hammer: fix: http status code
  app/api/v1/endpoints/auth.py
Due: api/v1

:hammer: add: enum types
  app/models/enums.py
  app/models/users.py
  app/schemas/users.py
  app/services/users.py
Due: models, schemas, services

:art: style: mypy
  app/core/auth.py
  app/services/users.py
  pyproject.toml
  uv.lock
Due: core, services

:sparkles: feat: admin user
  app/api/v1/endpoints/users.py
  app/core/auth.py
  app/core/configs.py
  app/core/database.py
  app/core/router.py
  app/repositories/users.py
  app/schemas/responses.py
  app/schemas/users.py
  app/services/auth.py
  app/services/users.py
  envs/test.env
  k8s/postgresql/fastapi.yaml
Due: api/v1, core, repositories, schemas, services

:memo: docs: email validation
  app/models/users.py
  app/schemas/users.py
Due: models, schemas

:recycle: refactor: admin endpoints
  app/api/v1/endpoints/admin/__init__.py
  app/api/v1/endpoints/admin/users.py
  app/api/v1/endpoints/users.py
  app/api/v1/routers.py
  app/services/users.py
Due: api/v1, services

:hammer: update: test codes
  app/tests/api/v1/test_auth.py
  app/tests/api/v1/test_users.py
  app/tests/conftest.py
  app/tests/services/test_users.py
Due: none

:art: style: lint
  app/core/auth.py
  app/core/router.py
  app/repositories/base.py
  app/repositories/users.py
  app/services/auth.py
  app/services/users.py
  app/tests/api/v1/test_users.py
  app/tests/services/test_users.py
  pyproject.toml
Due: core, repositories, services

:memo: docs: issue & pr template
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

:tada: deploy: fastapi-cookbook [bead189d742b5f3358621355e10763e91b0449fd]
  k8s/postgresql/fastapi.yaml
Due: none

:recycle: refactor: fastapi.status (resolved: #23)
  app/api/v1/endpoints/admin/users.py
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/users.py
  app/exceptions/auth.py
  app/exceptions/database.py
  app/exceptions/handlers.py
  app/tests/api/v1/test_auth.py
  app/tests/api/v1/test_shields.py
  app/tests/api/v1/test_users.py
Due: api/v1, exceptions

:recycle: refactor: fastapi.status (resolved: #23) (#28)
  app/api/v1/endpoints/admin/users.py
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/users.py
  app/exceptions/auth.py
  app/exceptions/database.py
  app/exceptions/handlers.py
  app/tests/api/v1/test_auth.py
  app/tests/api/v1/test_shields.py
  app/tests/api/v1/test_users.py
Due: api/v1, exceptions

:tada: deploy: fastapi-cookbook [93b514a2fc2451324d94128e5ee234b86d8600ec]
  k8s/postgresql/fastapi.yaml
Due: none

:recycle: refactor: base schema
  app/schemas/base.py
  app/schemas/users.py
  app/services/base.py
  app/services/users.py
Due: schemas, services

:hammer: fix: container dependency injection
  app/core/container.py
Due: core

:recycle: refactor: api response (resolves: #24)
  app/api/v1/endpoints/admin/users.py
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/shields.py
  app/api/v1/endpoints/users.py
  app/core/router.py
  app/exceptions/router.py
  app/schemas/responses.py
Due: api/v1, core, exceptions, schemas

:bento: update: .gitignore
  .gitignore
Due: none

:tada: deploy: fastapi-cookbook [97bf8a75f16a3949cf93d15cdcf88b4f326e2249]
  k8s/postgresql/fastapi.yaml
Due: none

:hammer: feat: logger href (resolves: #27)
  app/core/middlewares.py
  app/utils/logging.py
Due: core, utils
